* {
    box-sizing: border-box;
}

html {
    background-color: hsl(0, 0%, 98%);
}

body {
    margin: 0;
}

main {
    
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    color:hsl(234, 12%, 34%);
    font-weight: 600; 
}

header h2 {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
    font-size: 28.5px;
    margin-top: 80px;
    margin-bottom: -20px;
}

header p {
    color: hsl(229, 6%, 66%);
    margin: 0 30px 30px 30px;
    max-width: 375px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    align-items: center;
}

section p {
    color: hsl(229, 6%, 66%);
    margin-left: 20px;
}

section h3 {
    margin-left: 20px;
}

.container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
}

.card {
    height: 250px;
    width: 365px;
    padding: 20px 10px;
    margin: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.team {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.icon {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 375px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
}